body {
  font-family: 'Bai Jamjuree', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.78;

  color: $main-text-color;
  background-color: $main-background-color;
}
