@import '~node_modules/modern-normalize/modern-normalize.css';
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
}

ul,
ol {
  margin: 0px;
  padding-left: 0px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

svg {
  fill: currentColor;
}

.link {
  text-decoration: none;
  margin: 0;
  padding: 0;
  color: inherit;
}

.list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Bai Jamjuree", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.78;
  color: #161513;
  background-color: #f2f1ef;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  max-width: 1090px;
  width: 1090px;
}

.section-title {
  font-weight: 400;
  font-size: 45px;
  line-height: 1.24;
  text-align: center;
  letter-spacing: 1.44px;
}

.section-subtitle {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.78;
  text-align: center;
  letter-spacing: 1.44px;
  text-transform: uppercase;
}

.star-wrapper {
  display: flex;
  justify-content: center;
}

.tiny-star {
  background-image: url(../images/tiny-star-20x20.svg);
  display: block;
  width: 20px;
  height: 20px;
  align-self: center;
}

.small-star {
  background-image: url(../images/small-star-32-32.svg);
  display: block;
  width: 32px;
  height: 32px;
  align-self: center;
}

.medium-star {
  background-image: url("../images/medium-star-40x40.svg");
  display: block;
  height: 40px;
  width: 40px;
  align-self: center;
}

.big-star {
  background-image: url("../images/big-star.svg");
  display: block;
  height: 240px;
  width: 240px;
  align-self: center;
}

.about {
  padding-bottom: 120px;
}

.about__personal-info {
  display: flex;
}

.about__left-flex {
  margin-right: 40px;
}

.about__name {
  display: flex;
  margin-bottom: 22px;
  font-size: 23px;
  line-height: 1.39;
  letter-spacing: 0.48px;
}

.about__tiny-star {
  margin-left: 8px;
  margin-right: 8px;
}

.about__occupation {
  font-size: 56px;
  line-height: 1.14;
  letter-spacing: 0.56px;
}

.about__upper-text {
  font-size: 31px;
  line-height: 1.29;
  letter-spacing: 0.64px;
  margin-bottom: 36px;
}

.about__lower-text {
  margin-bottom: 28px;
}

.bio {
  display: flex;
  justify-content: space-between;
  margin-bottom: 121px;
}

.bio__lower-text {
  margin-top: 9px;
  color: #e94d35;
}

.about__table {
  display: flex;
  justify-content: space-around;
  text-align: center;
  border: 3px solid #161513;
}

.table__item {
  flex-basis: 33.3333333333%;
  padding-top: 22px;
  padding-bottom: 24px;
}
.table__item--inv {
  background-color: #161513;
  color: rgb(255, 255, 255);
}

.table__upper-text {
  display: block;
  margin-bottom: 11px;
  font-size: 56px;
  line-height: 1.14;
}

.table__lower-text {
  font-size: 16px;
  line-height: 2;
  letter-spacing: 1.28px;
  text-transform: uppercase;
}

.awards {
  padding-bottom: 120px;
}

.awards__star {
  margin-bottom: 32px;
}

.awards__title {
  margin-bottom: 9px;
}

.awards__subtitle {
  margin-bottom: 61px;
}

.awards__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #161513;
  padding: 34px 38px;
}
.awards__item:not(:last-child) {
  margin-bottom: 24px;
}

.awards__left-flex {
  display: flex;
  align-items: center;
}

.awards__square {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 48px;
  width: 48px;
  background-color: #e94d35;
  color: rgb(255, 255, 255);
  margin-right: 24px;
}

.awards__name {
  font-size: 23px;
  line-height: 1.39;
  letter-spacing: 0.48px;
}

.awards__right-flex {
  display: flex;
}

.awards__info + .awards__info {
  margin-left: 16px;
}

.portfolio {
  padding-bottom: 120px;
}

.portfolio__star {
  margin-bottom: 32px;
}

.portfolio__title {
  margin-bottom: 9px;
}

.portfolio__subtitle {
  margin-bottom: 61px;
}

.portfolio__item:not(:last-child) {
  margin-bottom: 96px;
}

.portfolio__card-wrapper--reverse {
  flex-direction: row-reverse;
}

.card__body {
  padding: 22px 39px 22px 44px;
}

.card__title-wrapper {
  padding: 3px 12px 5px 12px;
  background-color: #e94d35;
  margin-bottom: 35px;
  display: inline-block;
}

.card__title {
  color: rgb(255, 255, 255);
}

.card__text {
  font-size: 45px;
  line-height: 1.24;
  letter-spacing: 1.44px;
  margin-bottom: 49px;
}

.card__link {
  font-size: 20px;
  line-height: 1.6;
}
.card__link:hover, .card__link:focus {
  color: #e94d35;
}

.portfolio__img-wrapper {
  display: flex;
}

.services {
  padding-bottom: 120px;
}

.services__list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
  margin-top: 60px;
}

.services__item {
  padding: 34px;
  border: 2px solid #161513;
  border-radius: 0px;
  width: 510px;
}

.services__toptext {
  margin-bottom: 30px;
  font-size: 31px;
  line-height: 40px;
  letter-spacing: 0.64px;
}

.services__text {
  font-size: 18px;
  line-height: 32px;
}/*# sourceMappingURL=index.css.map */