$main-text-color: #161513;
$alternative-text-color: rgba(255, 255, 255, 1);
$main-background-color: #f2f1ef;
$alternative-background-color: #161513;
$extra-background-color: #e6e3de;
$accent-color: #e94d35;
