<section class="articles">
  <div class="container">
    <div class="star-wrapper">
      <span class="articles__star medium-star"></span>
    </div>
    <h2 class="articles__title section-title">Articles</h2>
    <h3 class="articles__subtitle section-subtitle">
      REGONITIONS & ACCOIMPLISHMENTS
    </h3>
    <ul class="articles__list list">
      <li class="articles__item">
        <a href="" class="articles__link link">
          <div class="articles__left-flex">
            <div>
              <div class="articles__category">
                <span>DESIGN</span>
                <span class="slash-margin">/</span>
                <span>April 28, 2022</span>
              </div>
              <h4 class="articles__name">
                Why I moved from Wordpress to Webflow
              </h4>
            </div>
          </div>
          <div class="articles__right-flex">
            <p class="articles__info">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore.
            </p>
          </div>
        </a>
      </li>
      <li class="articles__item">
        <a href="" class="articles__link link">
          <div class="articles__left-flex">
            <div>
              <div class="articles__category">
                <span>DESIGN</span>
                <span class="slash-margin">/</span>
                <span>April 26, 2022</span>
              </div>
              <h4 class="articles__name">
                What did i learn from doing 50+ <br />
                design sprints
              </h4>
            </div>
          </div>
          <div class="articles__right-flex">
            <p class="articles__info">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore.
            </p>
          </div>
        </a>
      </li>
      <li class="articles__item">
        <a href="" class="articles__link link">
          <div class="articles__left-flex">
            <div>
              <div class="articles__category">
                <span>BUSINESS & OFFICE</span>
                <span class="slash-margin">/</span>
                <span>April 26, 2022</span>
              </div>
              <h4 class="articles__name">
                Fostering professional growth in <br />
                your company
              </h4>
            </div>
          </div>
          <div class="articles__right-flex">
            <p class="articles__info">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore.
            </p>
          </div>
        </a>
      </li>
    </ul>
    <a href="" class="article__browse-link link"
      ><span>Browse Articles</span></a
    >
    <div class="big-star"></div>
  </div>
</section>
