<section class="customer">
  <div class="container">
    <div class="star-wrapper">
      <span class="services__star medium-star"></span>
      <h2 class="customer__title section-title">Happy Customer</h2>
      <ul class="customer__list list">
        <li class="cuslomer__item">
          <a href="" class="customer__link">
            <svg class="customer__icon">
              <use href="/src/images/customer-icon2.svg"></use>
            </svg>
          </a>
        </li>
        <li class="cuslomer__item">
          <a href="" class="customer__link">
            <svg class="customer__icon">
              <use href="/src/images/customer-icon1.svg"></use>
            </svg>
          </a>
        </li>
        <li class="cuslomer__item">
          <a href="" class="customer__link">
            <svg class="customer__icon">
              <use href="/src/images/customer-icon3.svg"></use>
            </svg>
          </a>
        </li>
        <li class="cuslomer__item">
          <a href="" class="customer__link">
            <svg class="customer__icon">
              <use href="/src/images/customer-icon4.svg"></use>
            </svg>
          </a>
        </li>
        <li class="cuslomer__item">
          <a href="" class="customer__link">
            <svg class="customer__icon">
              <use href="/src/images/customer-icon3.svg"></use>
            </svg>
          </a>
        </li>
        <li class="cuslomer__item">
          <a href="" class="customer__link">
            <svg class="customer__icon">
              <use href="/src/images/customer-icon2.svg"></use>
            </svg>
          </a>
        </li>
        <li class="cuslomer__item">
          <a href="" class="customer__link">
            <svg class="customer__icon">
              <use href="/src/images/customer-icon4.svg"></use>
            </svg>
          </a>
        </li>
        <li class="cuslomer__item">
          <a href="" class="customer__link">
            <svg class="customer__icon">
              <use href="/src/images/customer-icon1.svg"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>
