<footer class="footer footer-subscribe">
  <div class="container">
    <form class="subscribe-form">
      <label for="user-email" class="subscribe-label"
        >Subscribe to our newsletter</label
      >
      <input
        type="email"
        id="user-email"
        class="subscribe-input"
        name="user-email"
        placeholder="Email address"
      />
      <button type="submit" class="subscribe-btn">Subscribe</button>
    </form>
  </div>
</footer>

<footer class="footer footer-socials">
  <div class="container">
    <div class="doc-wrap">
      <img src="./images/small-star-32-32.svg" />
      <ul class="doc-list list">
        <li class="doc-items">
          <a href="" class="doc-link link">Style Guide</a>
        </li>
        <li class="doc-items">
          <a href="" class="doc-link link">Licence</a>
        </li>
        <li class="doc-items">
          <a href="" class="doc-link link">Changelog</a>
        </li>
      </ul>
    </div>
    <div class="copyright-wrap">
      <p>© Made by Portfolio Template & powered by Flowbase</p>
      <div class="socials">
        <ul class="socials-list list">
          <li class="socials-item">
            <a href="" class="socials-link link">
              <img src="./images/linkedIn.svg" />
            </a>
          </li>
          <li class="socials-item">
            <a href="" class="socials-link link"
              ><img src="./images/twitter.svg" />
            </a>
          </li>
          <li class="socials-item">
            <a href="" class="socials-link link"
              ><img src="./images/instagram.svg" />
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
