<header class="header">
  <div class="container">
    <div class="header-logo" href="#">
      <img
        src="./images/medium-star-40x40.svg"
        alt=""
        width="32"
        height="32"
        class="small-star"
      />
      <img
        src="./images/moxa.svg"
        alt=""
        width="86"
        height="17"
        class="moxa-logo"
      />
    </div>
    <nav class="header-nav">
      <ul class="header-nav-list list">
        <li class="header-nav-item">
          <a href="" class="header-nav-link link">Home</a>
        </li>
        <li class="header-nav-item">
          <a href="" class="header-nav-link link">About</a>
        </li>
        <li class="header-nav-item">
          <a href="" class="header-nav-link link">Contact</a>
        </li>
      </ul>
    </nav>
    <button type="button" class="header-btn">Let's talk</button>
  </div>
</header>
