<section class="hero">
  <div class="container hero__container">
    <div class="hero__title-block">
      <div class="hero__texts">
        <p class="hero__about hero__about-name">HI, I’M TAYLER.</p>
        <h2 class="hero__about">
          A CREATIVE
          <span class="hero__medium-star medium-star"> </span>DESIGNER
        </h2>
        <p class="hero__about hero__about-name">BASED IN LONDON</p>
        <h1 class="hero__title">
          DESIGN <span class="hero__tiny-star tiny-star"></span> DEVELOPMENT
          <span class="about__tiny-star tiny-star"></span> WEBFLOW
        </h1>
        <button class="hero__button" type="button">Got a project?</button>
        <button class="hero__button-second" type="button">Let's talk.</button>
      </div>
      <div class="hero__photo">
        <img
          srcset="./images/hero-img-1x.jpg 1x, ./images/hero-img-2x.jpg 2x"
          src="./images/hero-img-1x.jpg"
          class="hero__img img"
          alt="..."
          width="562px"
        />
      </div>
    </div>
  </div>
  <div class="hero__links">
    <ul class="hero__list list">
      <li class="hero__item">
        <a href="" class="hero__link link">
          DEVELOPMENT <span class="hero__tiny-star tiny-star"> </span
        ></a>
      </li>
      <li class="hero__item">
        <a href="" class="hero__link link"
          >STRATEGY <span class="hero__tiny-star tiny-star"></span
        ></a>
      </li>
      <li class="hero__item">
        <a href="" class="hero__link link"
          >PRODUCT DESIGN<span class="hero__tiny-star tiny-star"></span
        ></a>
      </li>
      <li class="hero__item">
        <a href="" class="hero__link link"
          >MOTION GRAPHIC<span class="hero__tiny-star tiny-star"></span
        ></a>
      </li>
      <li class="hero__item">
        <a href="" class="hero__link link"
          >ART DIRECTION<span class="hero__tiny-star tiny-star"></span
        ></a>
      </li>
      <li class="hero__item">
        <a href="" class="hero__link link"
          >DESIGN<span class="hero__tiny-star tiny-star"></span
        ></a>
      </li>
      <li class="hero__item">
        <a href="" class="hero__link link">BRANDING</a>
      </li>
    </ul>
  </div>
</section>
