<section class="portfolio">
  <div class="container">
    <div class="star-wrapper">
      <span class="portfolio__star medium-star"></span>
    </div>
    <h2 class="portfolio__title section-title">Portfolio</h2>
    <h3 class="portfolio__subtitle section-subtitle">
      REGONITIONS & ACCOIMPLISHMENTS
    </h3>
    <ul class="portfolio__list list">
      <li class="portfolio__item">
        <div class="card lg-3">
          <div class="row g-0 portfolio__card-wrapper">
            <div class="col-lg-5 portfolio__img-wrapper">
              <img
                srcset="
                  ./images/portfolio-1-1x.jpg 1x,
                  ./images/portfolio-1-2x.jpg 2x
                "
                src="./images/portfolio-1-1x.jpg"
                class="img-fluid rounded-start"
                alt="..."
              />
            </div>
            <div class="col-lg-7">
              <div class="card__body">
                <div class="card__title-wrapper">
                  <h4 class="card__title">Art Direction</h4>
                </div>
                <p class="card__text">
                  Beautiful and advanced website interfaces
                </p>
                <a href="" class="card__link link"
                  ><span card__link-text>Read more</span></a
                >
              </div>
            </div>
          </div>
        </div>
      </li>
      <li class="portfolio__item">
        <div class="card lg-3">
          <div
            class="row g-0 portfolio__card-wrapper portfolio__card-wrapper--reverse"
          >
            <div class="col-lg-5 portfolio__img-wrapper">
              <img
                srcset="
                  ./images/portfolio-2-1x.jpg 1x,
                  ./images/portfolio-2-2x.jpg 2x
                "
                src="./images/portfolio-1-1x.jpg"
                class="img-fluid rounded-start"
                alt="..."
              />
            </div>
            <div class="col-lg-7">
              <div class="card__body">
                <div class="card__title-wrapper">
                  <h4 class="card__title">Branding</h4>
                </div>
                <p class="card__text">
                  Design and extreme programming practice
                </p>
                <a href="" class="card__link link"
                  ><span card__link-text>Read more</span></a
                >
              </div>
            </div>
          </div>
        </div>
      </li>
      <li class="portfolio__item">
        <div class="card lg-3">
          <div class="row g-0 portfolio__card-wrapper">
            <div class="col-lg-5 portfolio__img-wrapper">
              <img
                srcset="
                  ./images/portfolio-3-1x.jpg 1x,
                  ./images/portfolio-3-2x.jpg 2x
                "
                src="./images/portfolio-1-1x.jpg"
                class="img-fluid rounded-start"
                alt="..."
              />
            </div>
            <div class="col-lg-7">
              <div class="card__body">
                <div class="card__title-wrapper">
                  <h4 class="card__title">Web Design</h4>
                </div>
                <p class="card__text">Nature inspired design</p>
                <a href="" class="card__link link"
                  ><span card__link-text>Read more</span></a
                >
              </div>
            </div>
          </div>
        </div>
      </li>
      <li class="portfolio__item">
        <div class="card lg-3">
          <div
            class="row g-0 portfolio__card-wrapper portfolio__card-wrapper--reverse"
          >
            <div class="col-lg-5 portfolio__img-wrapper">
              <img
                srcset="
                  ./images/portfolio-4-1x.jpg 1x,
                  ./images/portfolio-4-2x.jpg 2x
                "
                src="./images/portfolio-1-1x.jpg"
                class="img-fluid rounded-start"
                alt="..."
              />
            </div>
            <div class="col-lg-7">
              <div class="card__body">
                <div class="card__title-wrapper">
                  <h4 class="card__title">Motion Graphics</h4>
                </div>
                <p class="card__text">Design & concept at work.</p>
                <a href="" class="card__link link"
                  ><span card__link-text>Read more</span></a
                >
              </div>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
