<section class="servises">
      <div class="container">
    <div class="star-wrapper">
      <span class="services__star medium-star"></span>
    </div>
    <h2 class="services__title section-title">Services</h2>
    <h3 class="services__subtitle section-subtitle">
      REGONITIONS & ACCOIMPLISHMENTS
    </h3>
    <ul class="services__list list">
        <li class="services__item">
            <p class="services__toptext">Web Design</p>
            <p class="services__text">Every single project is a challenge that we accept eagerly. Let’s implement innovative ideas together!</p>
        </li>
        <li class="services__item">
            <p class="services__toptext">UI/UX Design</p>
            <p class="services__text">Every single project is a challenge that we accept eagerly. Let’s implement innovative ideas together!</p>
        </li>
        <li class="services__item">
            <p class="services__toptext">Product Design</p>
            <p class="services__text">Every single project is a challenge that we accept eagerly. Let’s implement innovative ideas together!</p>
        </li>
        <li class="services__item">
            <p class="services__toptext">Art Direction</p>
            <p class="services__text">Every single project is a challenge that we accept eagerly. Let’s implement innovative ideas together!</p>
        </li>
    </ul>
</section>
