.about__personal-info {
  display: flex;
  justify-content: space-between;
}

.about__name {
  margin-bottom: 22px;
  display: flex;

  font-size: 23px;
  line-height: 1.39;
  letter-spacing: 0.48px;
}

.tiny-star {
  background-image: url(../images/tiny-star-20x20.svg);
  width: 20px;
  height: 20px;
  align-self: center;

  margin-left: 8px;
  margin-right: 8px;
}

.about__occupation {
  font-size: 56px;
  line-height: 1.14;
  letter-spacing: 0.56px;
}

.about__upper-text {
  font-size: 31px;
  line-height: 1.29;
  letter-spacing: 0.64px;

  margin-bottom: 36px;
}

.about__lower-text {
  margin-bottom: 28px;
}

.bio {
  display: flex;
  justify-content: space-between;
  margin-bottom: 121px;
}

.bio__lower-text {
  margin-top: 9px;
  color: $accent-color;
}

.about__table {
  display: flex;
  justify-content: space-around;
  text-align: center;
  border: 3px solid $main-text-color;

  margin-bottom: 120px;
}

.table__item {
  flex-basis: calc(100% / 3);
  padding-top: 22px;
  padding-bottom: 24px;

  &--inv {
    background-color: $alternative-background-color;
    color: $alternative-text-color;
  }
}

.table__upper-text {
  display: block;
  margin-bottom: 11px;

  font-size: 56px;
  line-height: 1.14;
}

.table__lower-text {
  font-size: 16px;
  line-height: 2;
  letter-spacing: 1.28px;
  text-transform: uppercase;
}
