.customer {
  padding-bottom: 120px;
}

.customer__list {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
}

.customer__item {
  width: 240px;
  height: 100px;
  border: 1px solid #131416;

  display: flex;
  align-items: center;
  justify-content: center;

  transform: scale(1);
  transition-property: border, transform;
  transition-duration: 250ms;
  transition-timing-function: $timing-function;

  &:hover,
  &:focus {
    transform: scale(1.25);
  }
}

.customer__icon {
  height: 16px;
  width: auto;

  fill: #131416;

  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: $timing-function;
}
